<div align='center'>
	<!-- TODO Remove the break tags and replace with padding and text alignment -->
	<br/>
	<br/>
	<br/>
	<br/>
	<h1 class="welcome-title">Author Services</h1>
	<h2 class="welcome-title"<!-- style="font-family: verdana; color:white; border-radius: 10px; font-size: 28px; padding-bottom=30px -->">Supporting authors every step of the way</h2>
	<br/>
	<br/>
	<br/>
	<br/>
	<button class="btn btn-link btn-lg welcome-submit">Submit Article</button>
	<button class="btn btn-link btn-lg welcome-submit">Submit Book Proposal</button>
	<br/>
	<br/>
	<br/>
</div>