<div>
		<div class="authors-main-window wiley-author-background">
			<div id="authors-navbar"> </div>
			<div class="container-fluid">
				<!--  User following div for main container -->
				<div id="authors-welcome-home"></div>
				<div id="authors-login"></div>
			</div>
		</div>
		<div id="author-search"></div>
		<footer>
			<div class="row">
			  <div class="col-xs-6 col-md-4">
				<h4>Resources For</h4>
				<ul class="list-unstyled">
					<li>Authors</li>
					<li>Instructors</li>
					<li>Students</li>
					<li>Librarians</li>
					<li>Societies</li>
					<li>Booksellers</li>
				</ul>
			</div>
			  <div class="col-xs-6 col-md-4">
			 <h4>About Wiley</h4>
				<ul class="list-unstyled">
					<li>Careers</li>
					<li>Locations</li>
					<li>Investor Relations</li>
					<li>Press Room</li>
				</ul>	
			  </div>
			  <div class="col-xs-6 col-md-4"></div>
			</div>
		</footer>
</div>