<nav class="navbar">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <div class="wiley-author-navbar">Wiley</div>
	    </div>
	
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a class="author-navbar-menu-titles" href="#">HOME <span class="sr-only">(current)</span></a></li>
	        <li><a class="author-navbar-menu-titles" href="#">GUIDES</a></li>
	        <li><a class="author-navbar-menu-titles" href="#">FAQS</a></li>
	        <li><a class="author-navbar-menu-titles" href="#">STORE</a></li>
	        <li><a class="btn btn-warning author-navbar-menu-titles" href="#login" role="button">LOGIN</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>